/* Style for PostsList page. */
body {
  background-color: #ffeedd;
}

.post-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.post {
  width: 40%;
  background-color: #fff;
  margin: 10px 10px 20px 90px;
  box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2),
    0 4px 20px 0 rgba(79, 19, 97, 0.19);
  border-radius: 15px;
  font-family: "Roboto", sans-serif;
  position: relative;
  order: 2;
  align-self: flex-start;
}

.post-content {
  /* width: 85%; */
  display: table-cell;
  text-align: left;
  background-color: #e8e8e8;
  color: #000000;
  border-radius: 0 15px 15px 0;
  padding: 0 20px;
  overflow: hidden;
  max-lines: 4;
}

.post-owner {
  color: #747171;
  font-weight: bold;
  padding: 8px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.post-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #808080;
  font-size: 18px;
  margin-bottom: 0px;
}

.post-header-content {
  margin-top: 0.6em;
  margin-bottom: 0.5em;
}

.post-description {
  line-height: 1.2em;
  height: 3.6em;
  overflow: hidden;
  margin-top: 0px;
}

.trash-icon {
  cursor: pointer;
  font-size: large;
  margin-top: 0.6em;
}

.ellipsis-icon {
  float: right;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: bold;
  color: #808080;
}

.delete-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-delete-yes {
  background-color: green;
  padding: 10px 30px;
  border: none;
  color: #fff;
  margin-top: 25px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.btn-delete-no {
  background-color: red;
  padding: 10px 30px;
  border: none;
  color: #fff;
  margin-top: 25px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

#delete-modal-content {
  width: 27%;
}
